.block1-it-container {
  padding: 20px;
  flex-basis: 100%;
}

.block1-it {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .card-details {
    flex-basis: 100%;
  }
}

.card-details {
  display: flex;
  text-align: left;
}

.card-img {
  margin-right: auto;
  width: "25%";
  height: 100px;
}
.statbox__title {
  flex-basis: 100%;
  color: #81878c;
  margin: 0;
  padding: 0;
}

.statbox__value {
  flex-basis: 100%;
  margin: 5px 0;
}

.card-description {
  margin: 2px 0 5px 0;
}

.card:hover {
  transform: translateZ(5px);
}
