/*@-webkit-keyframes test {
    50% {
      background-image: url(../../../Assets/bg2.gif);
    }
    100% {
      background-image: url(../../../Assets/bg1.jpg);
    }
  }

.bg {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: test;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 25%;
    background-clip: border-box;
    animation: test infinite 240s;
    
 }*/
 .bg { animation: changeBg 8s infinite;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-size:cover; }
@keyframes changeBg{
   0%, 50%{background-image: url("../../../Assets/bg_2.png");}
    60%,100%{background-image: url("../../../Assets/bg_3.jpg");}
}

.gif{
    width: 70%;
    height: 70%;

}

.home__head__container{
   padding-top: 5%;
   padding-bottom: 10%;
}

.home__body__container{
    padding-top: 10%;
 }

 .invest_h1{
    font-size: 50px;
    margin-bottom: 5px;
    opacity: 70%;
}

.Intro__info-footer{
    opacity: 80%;
    margin-left: 5px;
}

.other-borkers{
    margin: 10px;
}