.BrokerContent {
  padding-top: 20px;
  text-align: right;
  padding-bottom: 30px;
  display: flex;
}

.TableHeading {
  padding-left: 4%;
  text-align: left;
}

.Table {
  width: 100%;
  height: 400px;
}

.TableDescription {
  width: 60%;
}
